<section class="content-section">
  <h2>Профиль</h2>
  <form>
    <div class="profile-avatar-block">
      <div class="profile-avatar-block__overlay">
        <span class="profile-avatar-block__overlay__text">Изменить</br>аватар</span>
      </div>
    </div>
    {{{login}}}
    {{{email}}}
    {{{firstName}}}
    {{{secondName}}}
    {{{displayName}}}
    {{{phone}}}
    {{{submitButton}}}
    {{{toggleChangePasswordModuleButton}}}
  </form>
  {{{changePasswordModal}}}
  {{{uploadAvatarModal}}}
</section>
