<section class="content-section profile">
  <h2>Профиль</h2>
  <form>
    <div class="profile-avatar-block">
      <div class="profile-avatar-block__overlay">
        <span class="profile-avatar-block__overlay__text">Изменить</br>аватар</span>
      </div>
    </div>
    {{{login}}}
    {{{email}}}
    {{{first_name}}}
    {{{second_name}}}
    {{{display_name}}}
    {{{phone}}}
    {{{submitButton}}}
    {{{toggleChangePasswordModuleButton}}}
  </form>
  {{#if isChangePasswordModalVisible}}
    {{{changePasswordModal}}}
  {{/if}}
  {{#if isUploadAvatarModalVisible}}
    {{{uploadAvatarModal}}}
  {{/if}}
</section>
