<section class="content-section">
  <div class="parking-page-content">
    <h2>Страница заглушка</h2>
    <span class="description">
      Вы находитесь на странице заглушке чатов
      </br>
      для навигации используйте ссылки ниже
      </br>
    </span>
    <div class="links">
      {{{signUpPageLink}}}
      {{{loginPageLink}}}
      {{{profilePageLink}}}
      {{{notFoundPageLink}}}
      {{{serverErrorPageLink}}}
    </div>
  </div>
</section>
