<section class="sign-up">
  <form>
    <h3>Регистрация</h3>
    {{{login}}}
    {{{email}}}
    {{{first_name}}}
    {{{second_name}}}
    {{{display_name}}}
    {{{phone}}}
    {{{password}}}
    {{{buttonSubmit}}}
    {{{linkToLogin}}}
  </form>
</section>
