<section class="sign-up">
  <form>
    <h3>Регистрация</h3>
    {{{login}}}
    {{{email}}}
    {{{firstName}}}
    {{{secondName}}}
    {{{displayName}}}
    {{{phone}}}
    {{{password}}}
    {{{repeatPassword}}}
    {{{buttonSubmit}}}
    {{{linkToLogin}}}
  </form>
</section>
